<div class="container">
  <br>


<form #arr = "ngForm" (ngSubmit)="inputArray(arr)" >
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Enter Array of Numbers</span>
        </div>
        <input type="text" class="form-control" ngModel name="arrayValues">
        <div class="input-group-append">
          <span class="input-group-text">separated by ' , '</span>
          <button class="btn btn-outline-secondary" type="submit">Send Array</button>
        </div>
    </div>
</form>

<table style="width:100%">
  <tr>
    <th *ngFor="let a of arrStr;">

    </th>
  </tr>
  <tr *ngFor="let i of Arr(row).fill(); index as r">
    <td [class.building]="(r >= (row-a)) && (a != 0) ? true : false"
        [class.water]="amount[col] != 0 && (r >= (row-amount[col]-a)) && (r < (row-a)) ? true : false" 
        *ngFor="let a of arrStr; index as col">
    </td>
  </tr>

</table>

<br>
<br>

<h3 *ngIf="show">Output: Total Amount = {{totalAmount}}</h3>
<table *ngIf="totalAmount > 0" style="width:100%">
    <tr>
      <th *ngFor="let a of arrStr;">
  
      </th>
    </tr>
    <tr *ngFor="let i of Arr(row).fill(); index as r;">
      <td [class.water]="amount[col] != 0 && (r >= (row-amount[col]-a)) && (r < (row-a)) ? true : false"  
        *ngFor="let a of arrStr; index as col">
      </td>
    </tr>
   
  </table>

  <br>

</div>
